# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
*.sln
*.vsproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.idb

/bin/**
/bin-obj/**
/GammaRay/Thirdparty/glad/bin/**
/GammaRay/Thirdparty/glad/bin-obj/**

/Tools/bin2c/bin
/Tools/bin2c/bin-obj
